fastapi
uvicorn
sqlalchemy
psycopg2
boto3
passlib
python-jose
pydantic>=2.0
pydantic-settings
pydantic[email]
email-validator
python-multipart
alembic
unstructured-ingest
unstructured-ingest[postgres]
unstructured-ingest[elasticsearch]
unstructured-ingest[csv]
unstructured-ingest[pdf]
unstructured-ingest[xlsx]
unstructured-ingest[embed-huggingface]
openai